/* Canvas' background */

.canvas {
    background: url(sakura.jpg);
    margin:-8px;
}

.menu {
    height: 695px;
    width: 100%;
    margin-top: 0px;
}


/* Menu content */

.active {
    Filter: brightness(50%);
}

#home{
    height:80px;
    width:190px;
    margin-right:350px;
}

#introduction {
    height: 70px;
    width: 260px;
    margin-bottom:10px;
}

#experiences {
    height: 80px;
    width: 230px;
}

#goals {
    height: 80px;
    width: 140px;
}

#hobbies{
    height: 80px;
    width: 160px;
    margin-bottom:5px;
}


/* Home */

#welcome{
    margin-bottom:140px;
    margin-left:225px;
    margin-right:0px;
}

#teacher{
    margin-top:40px;
    margin-left:-220px;
}


/* Content */

.content {
    background-color: #fbd2d7;
    margin: -8px;
    margin-top: 8px;
    margin-bottom: -22px;
    text-align: center;
    font-family: 'A little sunshine';
}

/* Introdcution */

#personalinfo {
    margin-left: 100px;
    margin-bottom: 90px;
    height: 200px;
    width: 800px;
}

#student {
    margin-left: -120px;
}

/* line break with color and width */

.break {
    background-color: #25150B;
    color: #25150B;
}


/* Border */

.border {
    border:solid; 
    margin-left:100px; 
    margin-right:100px;
}

/* Experiences */

#work {
    margin-left: 100px;
    margin-bottom: 170px;
    height: 200px;
    width: 800px;
}

#student2{
    margin-left:-90px;
}

/* Goals */

#dreams {
    margin-left: 130px;
   margin-bottom:30px;
}

#student3{
    margin-left:-130px;
}

/* Hobbies */

#skills{
  margin-left:90px;
  margin-bottom:90px;
}

#student4 {
    margin-top: 50px;
    margin-left: -100px;
    height: 450px;
    width: 400px;
}